 *{
    box-sizing: border-box;
    margin: 0;
    padding: o;
    
}
.posible{
    background-image: url("./images/tree-736885__480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: auto;

}
nav{
 display: flex;
 justify-content: space-around;
 background-color: turquoise;
 height: 60px;
}
nav p{
    font-weight: 600;
    width: 200px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav button{
    background-color: black;
    color: white;
    padding: 25px;
}
form p{
    text-align: center;
    color: black;

}

 h1{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-size: xx-large;
    font-weight: bolder;
}
.house{
    text-align: center;
}
.button{
 background-color: rgb(0,0,0,0.9);
 margin: 40px;
}
.free,.lost,.crime{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.button div{
  padding: 50px;
    margin-left: 100px;

}
.button p{
    text-align: center;
}

.free div{
    background-color: cyan;
}
.crime div{
    background-color: cyan;
}
.lost div{
    background-color: cyan;
}
.crime,.lost,.free{
    padding: 30px;
}
footer{
    background-color: cyan;
    height: 50px;
}
footer p{
    margin-bottom: 0;
}
#button{
    background-color: black;
    color: white;
    padding: 30px;
    cursor: pointer;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 1.3em;
}
#button:hover{
    background-color:black;
}
#button:focus{
    outline: none;
    background-color: cyan;
    color: black ;
} 
